.your-class {
    position: fixed;
    left: 10px;
    bottom: 0;
    right: 0;
}
ion-loading {
    color: green;
  }
  
  /* Works - pass "my-custom-class" in cssClass to increase specificity */
  .my-custom-class {
    color: green;
  }
  .my-custom-class {
    --background: #222;
    --spinner-color: #fff;
  
    color: #fff;
  }