<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
        <h4>Tiempo</h4>
    </ion-buttons>
    <ion-button color="danger" slot="end" href="/Tiempo">
      <ion-icon  name="reload"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let tiempo of tiempo">
    <ion-card color="danger">
    <ion-card-header>
      <ion-card-title>{{tiempo.location.name}}</ion-card-title>
      <img src = "{{tiempo.current.condition.icon}}" alt=""/>
    </ion-card-header>

    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
  {{tiempo.location.name}}
  <img src = "{{tiempo.current.condition.icon}}" alt=""/>
</div>
</ion-content>
