<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Configuración CG App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-content>
    <ion-list>
      <ion-item button (click)="Ayudados(1)">
        <ion-label >Reportar un problema</ion-label>
      </ion-item>
      <ion-item button (click)="Ayudados(2)">
        <ion-label >Términos de uso</ion-label>
      </ion-item>
      <ion-item button (click)="Ayudados(3)">
        <ion-label >Políticas de privacidad</ion-label>
      </ion-item>
    </ion-list>

</ion-content>
