<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Control remoto</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content >
  
  <ion-toolbar *ngIf="estado==1" color="danger">
    <ion-subtitle> &nbsp; (CG) webOS CL IN9203</ion-subtitle>
  </ion-toolbar>
  
  <ion-list>


    <ion-item>
      <ion-label>Cortina impermeable</ion-label>
      <ion-toggle color="secondary" checked="false" (ionChange)="toggle1()" ></ion-toggle>
    </ion-item>


    <ion-item>
      <ion-label>Cortina filtro UV</ion-label>
      <ion-toggle color="dark" checked="false" (ionChange)="toggle2()" ></ion-toggle>
    </ion-item>

 


  </ion-list>
</ion-content>
